body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    background-color: #99add3;
   
}


/* Agrega estilos personalizados */
.navbar-light .navbar-nav .nav-link {
  color: #000000; /* Cambia el color del texto a blanco */
}

/* Cambia el color del enlace activo (por ejemplo, la página actual) */
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #000000; /* Cambia el color del texto a blanco para el enlace activo */
}
.bg-light{
  width: 100%;
}

nav a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #3d7dc7;
    border-radius: 6px;
    
}



.about article {
   
    padding: 5% 30% 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about div {
    background-color: rgb(255, 246, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 15%;
    width: 40%;
}

.about p {
   
  text-align: justify;
}

.about img {
    position: absolute;
    width: 30vw;
    height: 30vh;
    object-fit: cover;
   
    left: 55%;
}

section {
    text-align: center;

    margin: 2% 2% 2% 2%;
   
}
section img {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.servicio {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan cuando no hay suficiente espacio */
}

.servicio h2 {
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.servicio article {
    width: 25%;
    margin-top: 30px;
    position: relative;
}

.servicio img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.servicio p {
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    width: 10vw;
    height: 10vh;
    object-fit: cover;
}
.dreams3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    

}

.productoscarrito {
    width: 250px; /* Cambié el ancho a 20% para que haya espacio suficiente para 5 elementos en una fila */
    margin: 0 2% 2% 2%;
    
    /* Agregué un margen a cada elemento para espaciarlos un poco */
}

.productoscarrito img {
    width: 40vh;
    height: auto; /* Para mantener la proporción de la imagen */
    object-fit: cover;
}
.dreams {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
}
.enlace {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;

}
.enlace a{
    color: black;
}
.productos {
    width: 250px; /* Cambié el ancho a 20% para que haya espacio suficiente para 5 elementos en una fila */
    margin: 2%;
    height: 50vh;
    /* Agregué un margen a cada elemento para espaciarlos un poco */
}

.productos img {
    width: 100%;
    height: auto; /* Para mantener la proporción de la imagen */
    object-fit: cover;
    
}
/* Otros estilos existentes */
.producto h1{
    text-align: center;
    color: #e08e58;
}
.producto{
    margin: 0% 2% 2%;
    text-align: center;
}
.producto img {
    width: 20vw;
    height: auto;
    object-fit: cover;
    display:block;
    margin:auto;
    margin-bottom: 2%;
    background-color: #7b9ec7;
   
}
.btn-carrito i {
    font-size: 2em; /* Tamaño de la fuente del icono */
    padding: 10px; /* Espacio alrededor del icono */
    color:black;
    margin: 0% 2% 2%;
    
}
.btn-carrito i:hover{
    font-size: 2em; /* Tamaño de la fuente del icono */
    padding: 10px; /* Espacio alrededor del icono */
    color:rgb(212, 1, 1);
}


.reseñas {
  
    width: 100%;
    display: flex;
    place-content: center;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #8da2c9; /* Cambiar el color de fondo de cada reseña según tu preferencia */

   
   
}

.reseña {
    color: black;
    width: 50%;
    background-color: #8da2c9; /* Cambiar el color de fondo de cada reseña según tu preferencia */
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.productoscarrito{
    width: 40vw;
    height: auto;
    object-fit: cover;
}

